<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel = "stylesheet" href = style.css>
    <meta name = "viewport" content = "width = device-width, initial-scale = 1"
</head>
<body>
    <h1>SkyScope</h1>
    <h2>Saint Louis, MO Weather</h2>
    <h3>{{ time }}</h3>
    <table>
        <tr>
          <td>Temperature</td>
          <td>{{ weather.temperature }}°F</td>
        </tr>
        <tr>
          <td>Apparent Temperature</td>
          <td>{{ weather.temperatureApparent }}°F</td>
        </tr>
        <tr>
          <td>Humidity</td>
          <td>{{ weather.humidity }}%</td>
        </tr>
        <tr>
          <td>UV Index</td>
          <td>{{ weather.uvIndex }}</td>
        </tr>
        <tr>
          <td>Wind Speed / Gust</td>
          <td>{{ weather.windSpeed }}mph / {{ weather.windGust }}mph</td>
        </tr>
        <tr>
          <td>Wind Direction</td>
          <td>{{ weather.windDirection }}°</td>
        </tr>
        <tr>
          <td>Visibility</td>
          <td>{{ weather.visibility }}mi</td>
        </tr>
    </table>      
</body>
</html>